<ion-header>
    <ion-toolbar>
        <ion-title>requestform</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Surname</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Location</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Pet</ion-label>
            <ion-select>
                <ion-select-option value="cat">Cat</ion-select-option>
                <ion-select-option value="dog">Dog</ion-select-option>
                <ion-select-option value="cat">Cat</ion-select-option>
                <ion-select-option value="dog">Dog</ion-select-option>
            </ion-select>
        </ion-item>
    </form>
    <ion-button expand="full">Request</ion-button>
</ion-content>