<ion-content>
    <div class="ion-padding">

        <ion-icon name="menu" color="light" style="position: absolute;z-index: 2;"></ion-icon>
        ​
        <ion-card class="header">
            <ion-card-header>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>

            </ion-card-content>
        </ion-card>
    </div>
    <br>
    <div>

        <h5>Services</h5>
        <ion-card (click)="RequestPage()">
            11
        </ion-card>

        <ion-card>
            11
        </ion-card>

        <ion-card>
            11
        </ion-card>

        <ion-card>
            11
        </ion-card>
        <ion-card>
            11
        </ion-card>

        <ion-card>
            11
        </ion-card>

        <ion-card>
            11
        </ion-card>

        <ion-card>
            11
        </ion-card>

        <ion-card>
            11
        </ion-card>
        <ion-card>
            11
        </ion-card>

        <ion-card>
            11
        </ion-card>

        <ion-card>
            11
        </ion-card>
    </div>

</ion-content>