ion-content {
    margin: 0px;
    padding: 0px;
    --background: #fff;
    div {
        margin: 0px;
        padding: 0px;
        .header {
            margin: 0px;
            width: 100%;
            height: 200px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            box-shadow: 1px;
            background-color: #fdfdfd;
        }
    }
}